@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  background-color: #050542;
  color: #ffff;
  font-family: "Open Sans", sans-serif;
}

/* Logo */
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: -1.125rem;
  margin-left: 0.3em;
}

.logo {
  width: 200px;
  height: 150px;
  margin: 0 1.8em;
}

.fdnd {
  border-left: 1px solid #fff;
  padding-left: 1em;
}

/* Media Querie Mobile */

@media (min-width: 280px) {
    .fdnd {
        font-size: 12.5px;
    }

    .logo {
        width: 130px;
        height: 110px;
        margin: 0 1em;
    }
}

@media (min-width: 375px) {
    .fdnd {
        font-size: 14px;
    }

    .logo {
        width: 170px;
        height: 130px;
        margin: 0 1em;
    }
}