@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --white: #ffffff;
  --blueberry: #050542;
  --turquoise: #66e5bf;
  --lavender: #a675f5;
  --lavender-dark: hsl(263, 86%, 60%);
  --attention: #050542;
  --attention-background: #05054233;
  --call-to-action: #fffc86;
  --rounded: 0.5rem;
  --pilled: 2rem;
  --shadow: 0.3rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--blueberry);
}

::-webkit-scrollbar-thumb {
  background: var(--lavender);
  border-radius: var(--rounded);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--lavender-dark);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #050542;
  color: var(--white);
  font-family: "Open Sans", sans-serif;
}

/* Logo */
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1em;
}

.logo {
  width: 200px;
  height: 150px;
  margin: 0 1.8em;
}

.fdnd {
  border-left: 1px solid var(--white);
  padding-left: 1em;
}

/* COMPONENTS */

button {
  all: unset;
  cursor: pointer;
  border: 2px solid var(--lavander);
  border-radius: 2em;
  background-color: var(--lavender);
  color: var(--blueberry);
  font-weight: 500;
  padding: .3em 1.5em;
  font-size: 1.5rem;
}

button:hover {
  background-color: transparent;
  border: 2px solid var(--lavender);
  color: var(--lavender);
}

.sprint-number {
  font-size: 1.5rem;
  border-radius: 6em;
  background-color: var(--turquoise);
  color: var(--blueberry);
}

.sprint-name {
  font-size: 1.5rem;
  border: 2px solid var(--turquoise);
  border-radius: 6em;
  color: var(--turquoise);
  flex: 1;
  text-align: center;
  padding: .3em .5em;
}

/* HOME / HERO SECTION */

.home {
  height: 70vh;
  position: relative;
  margin: 1rem;
  background-image: url(../assets/hero-image.jpeg);
  background-size: cover;
  background-position: center 10%;
  border-radius: var(--pilled);
}

.home span {
  position: absolute;
  padding: 0 1rem calc(1rem + var(--shadow)) var(--shadow);
  top: 0;
  left: 0;
  width: fit-content;
  background: var(--blueberry);
  text-decoration: none;
  border-bottom-right-radius: var(--pilled);
}

.home span div {
  display: block;
  padding: 0.5rem 1.2rem;
  border: 1px solid var(--turquoise);
  border-radius: var(--pilled);
  border-radius: var(--rounded);
  box-shadow: calc(-1 * var(--shadow)) var(--shadow) 0 0 var(--turquoise);
  color: var(--turquoise);
  font-size: 2.5rem;
  text-transform: lowercase;
}

.home span::before {
  content: "";
  position: absolute;
  top: 0;
  right: calc(-1 * var(--rounded));
  box-shadow: 0 calc(-1 * var(--rounded)) 0 0 var(--blueberry);
  background-color: transparent;
  width: var(--rounded);
  height: calc(2 * var(--rounded));
  border-top-left-radius: var(--rounded);
}

.home span::after {
  left: 0;
  bottom: calc(-2 * var(--rounded));
  box-shadow: 0 calc(-1 * var(--rounded)) 0 0 var(--blueberry);
  content: "";
  position: absolute;
  background-color: transparent;
  width: var(--rounded);
  height: calc(2 * var(--rounded));
  border-top-left-radius: var(--rounded);
}

.home>.title {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2rem 0 0 2rem;
  background: var(--blueberry);
  border-top-left-radius: 2rem;
  color: var(--lavender);
  font-size: calc(1.5rem + 1.5vw);
  line-height: calc(1.5rem + 1.5vw);
  text-decoration: none;
}

.home>.title:before {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 0.5rem;
  height: calc(2 * var(--rounded));
  border-bottom-right-radius: var(--rounded);
  top: calc(-2 * var(--rounded));
  right: 0;
  box-shadow: 0 var(--rounded) 0 0 var(--blueberry);
}

.home>.title:after {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 0.5rem;
  height: calc(2 * var(--rounded));
  border-bottom-right-radius: var(--rounded);
  left: calc(-1 * var(--rounded));
  bottom: 0;
  box-shadow: 0 var(--rounded) 0 0 var(--blueberry);
}

.home>.title>div {
  padding: .3em;
  border: 3px solid var(--lavender);
}

/* SEMESTERS & Sprints */

main>.sprints-semesters-text-container {
  margin: 3em 1.5em;
}

main>.sprints-semesters-text-container>h2 {
  font-size: calc(1.3rem + 1.5vw);
}

main>.sprints-semesters-text-container>p {
  font-size: calc(1rem + 0.4vw);
  max-width: 30em;
}

main>.sprints-semesters {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
  margin: 0 auto;
  max-width: 30em;
}

.sprint-image {
  position: relative;
  height: 360px;
  width: 100%;
  background-image: url(../assets/hero-image.jpeg);
  background-size: cover;
  background-position: center 10%;
  border-radius: var(--pilled);
}

.sprint-image>.sprint-title {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .5rem 0em 0 1rem;
  background: var(--blueberry);
  border-top-left-radius: 2rem;
  color: var(--lavender);
  line-height: calc(1.5rem + 1.5vw);
  text-decoration: none;
}

.sprint-image .sprint-title:before {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 0.5rem;
  height: calc(2 * var(--rounded));
  border-bottom-right-radius: var(--rounded);
  top: calc(-2 * var(--rounded));
  right: 0;
  box-shadow: 0 var(--rounded) 0 0 var(--blueberry);
}

.sprint-image .sprint-title::after {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 0.5rem;
  height: calc(2 * var(--rounded));
  border-bottom-right-radius: var(--rounded);
  left: calc(-1 * var(--rounded));
  bottom: 0;
  box-shadow: 0 var(--rounded) 0 0 var(--blueberry);
}

.sprint-image>.sprint-title>h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--lavender);
  border-radius: var(--rounded);
  padding: .3em 1em;
}

.sprint-image>.sprint-title>.sprint-number {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3em 1em;
}

.sprint-components {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 1rem 0;
}

/* OPDRACHTEN / LEERTAKEN */

main>.opdrachten-leertaken {
  padding: 2rem;
  background-color: var(--turquoise);
  border-radius: var(--rounded);
  background-image: url("../assets/hackaton-image.jpeg");
  background-size: cover;
  background-position: center;
}

main>.opdrachten-leertaken {
  height: 350px;
  margin: 1rem;
}

main>.opdrachten-leertaken>h2 {
  margin: -2rem 0 2rem -2rem;
  padding: 0 1rem 1rem 2rem;
  position: relative;
  width: fit-content;
  font-size: calc(1.3rem + 1.5vw);
  color: var(--white);
  background: var(--blueberry);
  border-bottom-right-radius: var(--rounded);
  z-index: 2;
}

main>.opdrachten-leertaken>h2::before {
  top: 0;
  right: calc(-1 * var(--rounded));
  box-shadow: 0 calc(-1 * var(--rounded)) 0 0 var(--blueberry);
  content: "";
  position: absolute;
  background-color: transparent;
  width: var(--rounded);
  height: calc(2 * var(--rounded));
  border-top-left-radius: var(--rounded);
}

main>.opdrachten-leertaken>h2::after {
  left: 0;
  bottom: calc(-2 * var(--rounded));
  box-shadow: 0 calc(-1 * var(--rounded)) 0 0 var(--blueberry);
  content: "";
  position: absolute;
  background-color: transparent;
  width: var(--rounded);
  height: calc(2 * var(--rounded));
  border-top-left-radius: var(--rounded);
}

.opdrachten-leertaken-text {
  padding: 0 1em;
  font-size: 1rem;
}

@media (min-width: 280px) {
  .fdnd {
    font-size: 0.688rem;
  }

  .logo {
    width: 130px;
    height: 110px;
    margin: 0 1em;
  }
}

@media (min-width: 375px) {
  .fdnd {
    font-size: 0.875rem;
  }

  .logo {
    width: 170px;
    height: 130px;
    margin: 0 1em;
  }
}

@media (min-width: 45em) {

  main>.sprints-semesters-text-container {
    margin: 6em 2rem;
  }

  main>.sprints-semesters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 2rem;
    max-width: none;
  }
}

@media (min-width: 70em) {
  .home,
  main>.opdrachten-leertaken {
    margin: 2em 4em;
  }

  main>.sprints-semesters-text-container {
    margin: 6em 4rem;
  }

  main>.sprints-semesters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 4rem;
  }

  .opdrachten-leertaken-text {
    margin: 2em;
    max-width: 40em;
    font-size: 1.3rem;
  }

  main>section {
    margin: 4em 2em;
  }
}